
.desk-row {
    margin-top: 45%;
}

.desk {
    background: #454751;
    width: 100%;
    height: 80px;
    border-radius: 3px;
}

/* leg */
.desk::before {
    content: '';
    background: #454751;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 150px;
    border-radius: 3px;
}

/* leg */
.desk::after {
    content: '';
    background: #454751;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 150px;
    border-radius: 3px;
}

.lamp {
    background: #454751;
    position: absolute;
    left: -150px;
    bottom: -70px;
    width: 15px;
    height: 420px;
    border-radius: 3px;
}

/* lamp base */
.lamp::before {
    content: '';
    background: #454751;
    position: absolute;
    bottom: 0;
    left: -42px;
    width: 100px;
    height: 20px;
    border-radius: 3px;
}

/* lamp head */
.lamp::after {
    content: '';
    position: absolute;
    top: 11px;
    left: -7px;
    z-index: 5;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 20px solid transparent;
    border-top: 54px solid #454751;
    transform: rotate(20deg);
}

.lamp-light {
    position: absolute;
    top: 206px;
    left: -50px;
    z-index: 4;
    width: 0;
    height: 0;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    border-left: 165px solid transparent;
    border-right: 1020px solid transparent;
    border-top: 373px solid #ffffc447;
}

.lamp-light::before {
    content: '';
    position: absolute;
    bottom: 355px;
    left: -216px;
    z-index: 6;
    background: #454751;
    width: 30px;
    height: 25px;
    transform: rotate(9deg);
    border-radius: 3px;
}
