<div class="container">
    <div class="row desk-row">
        <div class="col-3">
            <div class="date">
                <div class="div month">
                    {{ month }}
                </div>
                <div class="day">
                    {{ day }}
                </div>
            </div>
            <div class="clock">
                {{ time }}
            </div>
            <div class="light-switch" (click)="turnLight()">
                <div
                    class="button"
                    [class.button-on]="buttonOn"
                ></div>
            </div>
        </div>
        <div class="col">
            <div class="desk">
                <div class="lamp">
                    <div class="lamp-swivel"></div>
                    <div
                        style="border-left: 165px solid transparent;
                                border-right: 1020px solid transparent;
                                border-top: 373px solid #ffffc447 !important;"
                        class="lamp-light"
                        #lampLight
                    ></div>
                </div>
                <div class="chair">
                    <div class="wheels"></div>
                </div>
                <div class="books"></div>
                <div class="coffee-handle"></div>
                <div class="coffee-cup"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="work-title">
            WORK
        </div>
    </div>
</div>
