@keyframes animateTitle {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.work-title {
    animation: animateTitle 1s ease-out 2.5s forwards;
    opacity: 0;
    transform: translateY(150px);
    padding-left: 30%;
    margin-top: 10%;
    font-size: 80px;
    letter-spacing: 175px;
    width: 100%;
    text-align: center;
    color: #f5e7f3;
}

.desk-row {
    margin-top: 45%;
}

.desk {
    background: #454751;
    width: 100%;
    height: 80px;
    border-radius: 3px;
}

/* leg */

.desk::before {
    content: '';
    background: #454751;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 150px;
    border-radius: 3px;
}

/* leg */

.desk::after {
    content: '';
    background: #454751;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 150px;
    border-radius: 3px;
}

.lamp {
    background: #454751;
    position: absolute;
    left: -150px;
    bottom: -70px;
    width: 15px;
    height: 420px;
    border-radius: 3px;
}

/* lamp base */

.lamp::before {
    content: '';
    background: #454751;
    position: absolute;
    bottom: 0;
    left: -42px;
    width: 100px;
    height: 20px;
    border-radius: 3px;
}

/* lamp head */

.lamp::after {
    content: '';
    position: absolute;
    top: 11px;
    left: -7px;
    z-index: 5;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 20px solid transparent;
    border-top: 54px solid #454751;
    transform: rotate(20deg);
}

@keyframes turnLightOn {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.lamp-light {
    animation: turnLightOn 0s 3.5s forwards;
    visibility: hidden;
    position: absolute;
    top: 206px;
    left: -50px;
    z-index: 4;
    width: 0;
    height: 0;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    border-left: 165px solid transparent;
    border-right: 1020px solid transparent;
    border-top: 373px solid #ffffc447;
}

.lamp-light::before {
    content: '';
    visibility: visible;
    position: absolute;
    bottom: 355px;
    left: -216px;
    z-index: 6;
    background: #454751;
    width: 30px;
    height: 25px;
    transform: rotate(9deg);
    border-radius: 3px;
}

@keyframes rollChair {
    0% {
        left: 850px;
    }
    100% {
        left: 198px;
    }
}

.chair {
    animation: rollChair 3s forwards;
    position: absolute;
    left: 850px;
    bottom: -55px;
    width: 25px;
    height: 127px;
    z-index: -1;
    background: #73956e;
}

/* legs */

.chair::before {
    content: '';
    position: absolute;
    left: -36px;
    bottom: 0px;
    background: #73956e;
    border-radius: 3px;
    width: 100px;
    height: 15px;
}

/* back */

.chair::after {
    content: '';
    position: absolute;
    left: -36px;
    top: -60px;
    width: 100px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #73956e;
}

.wheels {
    position: absolute;
    bottom: -15px;
    left: 48px;
    background: #73956e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.wheels::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -90px;
    background: #73956e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* seat of chair */

.wheels::after {
    content: '';
    position: absolute;
    bottom: 72px;
    left: -100px;
    background: #73956e;
    width: 133px;
    height: 35px;
    border-radius: 20px;
}

@keyframes bookFall1 {
    0% {
        transform: translateY(-35px);
        visibility: hidden;
    }
    5% {
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes bookFall2 {
    0% {
        transform: translateY(-40px);
        visibility: hidden;
    }
    5% {
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes bookFall3 {
    0% {
        transform: translateY(-50px);
        visibility: hidden;
    }
    5% {
        visibility: visible;
    }
    70% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

.books {
    animation: bookFall1 0.3s ease-in 2.5s forwards;
    transform: translateY(-35px);
    visibility: hidden;
    position: absolute;
    bottom: 80px;
    left: 50px;
    width: 60px;
    height: 15px;
    background: #73956e;
    border-radius: 3px;
}

.books::before {
    animation: bookFall2 0.3s ease-in-out 1.5s forwards;
    content: '';
    position: absolute;
    bottom: 15px;
    left: -8px;
    width: 60px;
    height: 15px;
    background: #73956e;
    border-radius: 3px;
}

.books::after {
    animation: bookFall3 0.35s ease-in-out 1.6s forwards;
    content: '';
    position: absolute;
    bottom: 30px;
    left: 2px;
    width: 60px;
    height: 15px;
    background: #73956e;
    border-radius: 3px;
}

@keyframes bounceCup {
    0% {
        transform: translateY(-15px);
        visibility: hidden;
    }
    5% {
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

.coffee-cup {
    animation: bounceCup 0.1s ease-in 2s forwards;
    transform: translateY(-15px);
    visibility: hidden;
    position: absolute;
    z-index: 3;
    right: 75px;
    bottom: 80px;
    width: 25px;
    height: 28px;
    background: #73956e;
    border-radius: 3px;
}

.coffee-handle {
    animation: bounceCup 0.1s ease-in 2s forwards;
    transform: translateY(-15px);
    visibility: hidden;
    position: absolute;
    z-index: 0;
    right: 65px;
    bottom: 83px;
    width: 22px;
    height: 22px;
    border: 3px solid #73956e;
    border-radius: 50%;
}

@keyframes splash1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes splash2 {
    0% {
        transform: translateY(0px);
        height: 8px;
    }
    50% {
        transform: translateY(-12px);
        height: 5px;
    }
    55% {
        height: 5px;
    }
    100% {
        transform: translateY(0px);
        height: 8px;
    }
}

/* splash 1 */

.coffee-handle::before {
    animation: splash1 0.2s ease-out 1.1s;
    content: '';
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -14px;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background: #454751;
}

/* splash 2 */

.coffee-handle::after {
    animation: splash2 0.4s ease-out 1.1s;
    content: '';
    position: absolute;
    z-index: -1;
    top: -4px;
    right: 14px;
    width: 5px;
    height: 8px;
    border-radius: 50%;
    background: #454751;
}
