<div class="container">
    <div class="row desk-row">
        <div class="col-3"></div>
        <div class="col">
            <div class="desk">
                <div class="lamp">
                    <div class="lamp-light"></div>
                </div>
                <div class="chair">
                    <div class="wheels"></div>
                </div>
                <div class="books"></div>
                <div class="pencils"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
