.nav-container {
    margin-left: 8%;
}

.title {
    height: 50px;
    line-height: 1;
    color: #95d7ae;
    font-size: 96px;
    text-align: center;
}

nav {
    background: #454851;
    height: 79px;
}

.pill {
    margin-top: 31px;
    margin-right: 20px;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 50px;
    background: transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.menu-item {
    position: relative;
    z-index: 5;
}

.pill-back {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #95d7ae;
}

@keyframes flow-in-home {
    0% {
        width: 32px;
        left: 150%;
    }
    100% {
        width: 150%;
        left: -5px;
    }
}

.active-home > .flow-home {
    animation: flow-in-home 0.5s ease 0.2s forwards;
    position: absolute;
    z-index: 2;
    left: 150%;
    top: 0;
    border-radius: 50px;
    width: 32px;
    height: 35px;
    background: #f5e7f3;
}

@keyframes flow-out-home {
    0% {
        width: 150%;
        left: -5px;
    }
    99% {
        width: 150%;
    }
    100% {
        left: 120%;
        width: 32px;
    }
}

.flow-out-home {
    animation: flow-out-home 0.5s ease forwards;
    position: absolute;
    z-index: 2;
    left: 150%;
    top: 0;
    border-radius: 50px;
    width: 150%;
    height: 35px;
    background: #f5e7f3;
}

@keyframes flow-in-work {
    0% {
        width: 32px;
        left: -33px;
    }
    100% {
        width: 150%;
        left: -5px;
    }
}

.active-work > .flow-work {
    animation: flow-in-work 0.7s ease-out 0.2s forwards;
    position: absolute;
    z-index: 2;
    left: -33px;
    top: 0;
    border-radius: 50px;
    width: 32px;
    height: 35px;
    background: #f5e7f3;
}

@keyframes flow-out-work {
    0% {
        width: 150%;
        left: -5px;
    }
    100% {
        width: 32px;
        left: -33px;
    }
}

.flow-out-work {
    animation: flow-out-work 0.5s ease forwards;
    position: absolute;
    z-index: 2;
    left: -5px;
    top: 0;
    border-radius: 50px;
    width: 150%;
    height: 35px;
    background: #f5e7f3;
}

/* colored bar animations */
@keyframes bar1-home {
    0% {
        bottom: 845px;
        right: -12%;
        width: 45%;
        -webkit-transform: rotate(45deg);
        transform: rotate(30deg);
    }
    30% {
        width: 45%;
    }
    100% {
        bottom: 0px;
        right: 0px;
        width: 100%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes bar2-home {
    0% {
        bottom: 660px;
        right: -12%;
        width: 48%;
        -webkit-transform: rotate(45deg);
        transform: rotate(30deg);
    }
    30% {
        width: 48%;
    }
    100% {
        bottom: 50px;
        right: 0px;
        width: 100%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes bar1-work {
    0% {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    70% {
        width: 45%;
    }
    100% {
        position: fixed;
        bottom: 845px;
        right: -12%;
        width: 45%;
        -webkit-transform: rotate(45deg);
        transform: rotate(30deg);
    }
}

@keyframes bar2-work {
    0% {
        position: absolute;
        bottom: 50px;
        right: 0px;
        width: 100%;
        -webkit-transform: rotateX(0deg);
        transform: rotate(0deg);
    }
    70% {
        width: 48%;
    }
    100% {
        position: fixed;
        bottom: 660px;
        right: -12%;
        width: 48%;
        -webkit-transform: rotateX(45deg);
        transform: rotate(30deg);
    }
}

.animate-home-1 {
    animation: bar1-home 0.5s ease-in-out forwards;
}
.animate-home-2 {
    animation: bar2-home 0.5s ease-in-out forwards;
}

.animate-work-1 {
    animation: bar1-work 0.5s ease-in-out forwards;
}

.animate-work-2 {
    animation: bar2-work 0.5s ease-in-out forwards;
}

.bar-1 {
    position: absolute;
    z-index: -1;
    background: #73956f;
    width: 100%;
    height: 50px;
}

.bar-2 {
    position: absolute;
    z-index: -1;
    background: #7bae7f;
    width: 100%;
    height: 150px;
}

.starting-home-1 {
    bottom: 0;
    right: 0;
}

.starting-home-2 {
    bottom: 50px;
    right: 0;
}

.starting-work-1 {
    position: fixed;
    bottom: 845px;
    right: -12%;
    width: 45%;
    -webkit-transform: rotateX(45deg);
    transform: rotate(30deg);
}

.starting-work-2 {
    position: fixed;
    bottom: 660px;
    right: -12%;
    width: 48%;
    -webkit-transform: rotateX(45deg);
    transform: rotate(30deg);
}
.house {
    position: absolute;
    right: 10%;
    bottom: 175px;
    width: 250px;
    height: 200px;
    background: #f5e7f3;
}

.roof {
    position: absolute;
    top: -90px;
    right: 0px;
    width: 0;
    height: 0;
    border-left: 121px solid transparent;
    border-right: 130px solid transparent;
    border-bottom: 90px solid #454751;
}

.window-1 {
    position: absolute;
    top: 25px;
    right: 35px;
    border: 6px solid #454751;
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.window-2 {
    position: absolute;
    top: 25px;
    left: 35px;
    border: 6px solid #454751;
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.line {
    position: absolute;
    top: 16px;
    width: 40px;
    height: 6px;
    background: #454751;
}

.door {
    position: absolute;
    bottom: 0px;
    left: 102px;
    height: 70px;
    width: 46px;
    background: #73956e;
    border: 5px solid #454751;
    border-radius: 2px;
}

.door-knob {
    position: absolute;
    bottom: 27px;
    left: 5px;
    border-radius: 100%;
    background: black;
    width: 7px;
    height: 7px;
}

.tree {
    position: absolute;
    bottom: 0;
    left: -250px;
    height: 200px;
    border-bottom: 200px solid #454751;
    border-left: 25px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 73px;
}

.tree-top {
    position: absolute;
    top: -51px;
    left: -8px;
    width: 100px;
    height: 100px;
    background: #73956e;
    border-radius: 100%;
}

.tree-top::after {
    content: '';
    position: absolute;
    top: -50px;
    left: -28px;
    width: 100px;
    height: 100px;
    background: #73956e;
    border-radius: 100%;
}

.tree-top::before {
    content: '';
    position: absolute;
    top: 2pxpx;
    left: -60px;
    width: 100px;
    height: 100px;
    background: #73956e;
    border-radius: 100%;
}

@keyframes move-house-out {
    0% {
        transform: rotate(0deg);
        right: 10%;
        bottom: 175px;
    }
    100% {
        transform: rotate(30deg);
        bottom: 550px;
        right: -45%;
    }
}

@keyframes move-house-in {
    0% {
        transform: rotate(30deg);
        bottom: 550px;
        right: -45%;
    }
    100% {
        transform: rotate(0deg);
        right: 10%;
        bottom: 175px;
    }
}

.move-house-out {
    animation: move-house-out 0.95s ease forwards;
}

.move-house-in {
    animation: move-house-in 0.65s ease forwards;
}

.house-home-state {
    transform: rotate(0deg);
    right: 10%;
    bottom: 175px;
}

.house-work-state {
    transform: rotate(30deg);
    bottom: 550px;
    right: -45%;
}
