<nav class="nav">
    <div class="container nav-container">
        <div class="row">
            <div
                routerLink="/home"
                routerLinkActive='active-home'
                class="col-2 pill"
                (click)="flowToHome()"
            >
                <span class="menu-item">Home</span>
                <div class="pill-back"></div>
                <div class="flow-home" #home></div>
            </div>
            <div
                routerLink="/work"
                routerLinkActive='active-work'
                (click)="flowToWork()"
                class="col-2 pill"
            >
                <span class="menu-item">Work</span>
                <div class="pill-back"></div>
                <div class="flow-work" #work></div>
            </div>
            <div class="col">
                <div class="title">
                    Trans\tions
                </div>
            </div>
        </div>
    </div>
</nav>
<main [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>
<div class="bar-1 starting-pos-1" #bar1></div>
<div class="bar-2 starting-pos-2" #bar2></div>
