header {
    background: #dedede;
    height: 50px;
    font-size: 35px;
    text-align: center;
}

nav {
    background: #dedede;
    height: 79px;
}

.pill {
    margin-top: 18px;
    margin-right: 20px;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 50px;
    background: transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.menu-item {
    position: relative;
    z-index: 5;
}

.pill-back {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: grey;
}

@keyframes flow-in-home {
    0% {
        width: 32px;
        left: 150%;
    }
    100% {
        width: 150%;
        left: -5px;
    }
}

.active-home > .flow-home {
    animation: flow-in-home 0.8s ease .2s forwards;
    position: absolute;
    z-index: 2;
    left: 150%;
    top: 0;
    border-radius: 50px;
    width: 32px;
    height: 35px;
    background: white;
}

@keyframes flow-out-home {
    0% {
        width: 150%;
        left: -5px;
    }
    99% {
        width: 150%;
    }
    100% {
        left: 120%;
        width: 32px;
    }
}

.flow-out-home {
    animation: flow-out-home 0.8s ease forwards;
    position: absolute;
    z-index: 2;
    left: 150%;
    top: 0;
    border-radius: 50px;
    width: 150%;
    height: 35px;
    background: white;

}

@keyframes flow-in-work {
    0% {
        width: 32px;
        left: -33px;
    }
    100% {
        width: 150%;
        left: -5px;
    }
}

.active-work > .flow-work {
    animation: flow-in-work 0.8s ease .2s forwards;
    position: absolute;
    z-index: 2;
    left: -33px;
    top: 0;
    border-radius: 50px;
    width: 32px;
    height: 35px;
    background: white;
}

@keyframes flow-out-work {
    0% {
        width: 150%;
        left: -5px;
    }
    100% {
        width: 32px;
        left: -33px
    }
}

.flow-out-work {
    animation: flow-out-work 0.8s ease forwards;
    position: absolute;
    z-index: 2;
    left: -5px;
    top: 0;
    border-radius: 50px;
    width: 150%;
    height: 35px;
    background: white;
}
