.main {
    margin-top: 50px;
}

.list-container {
    border-radius: 3px;
    background: white;
    padding-bottom: 15px;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 27px 0px #73956e;
}

.row {
    margin: 0;
}

.submit-col,
.input-col {
    padding: 0;
}

.plus {
    width: 100%;
    height: 45px;
    border: none;
    border-top-right-radius: 3px;
    background: #73956e;
    color: white;
    font-size: 39px;
    cursor: pointer;
    line-height: 1;
}

input {
    width: 100%;
    border: none;
    border-top-left-radius: 3px;
    border-bottom: 2px dashed #73956e;
    border-left: 3px solid #72956e;
    border-top: 3px solid #73956e;
    height: 45px;
    overflow: hidden;
    padding-left: 18px;
    font-size: 22px;
    outline: none;
}

input:focus {
    border-bottom: 3px dashed #72956e;
}

input::-moz-placeholder {
    color: #95d7ae7a;
}

input::-webkit-input-placeholder {
    color: #95d7ae7a;
    font-style: italic;
}

.list {
    height: 90%;
    overflow: hidden;
}

ul {
    font-size: 18px;
    margin-top: 40px;
    color: #454751;
    padding-left: 10px;
    width: 100%;
}

li {
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    padding-bottom: 3px;
    padding-left: 10px;
    width: 92%;
    background: #95d7ae7a;
    border-radius: 10px;
}
