.main {
    margin-top: 50px;
}

.list-container {
    border-radius: 3px;
    background: white;
    padding-bottom: 15px;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 27px 0px #73956e;
}

.row {
    margin: 0;
}

.submit-col,
.input-col {
    padding: 0;
}

.plus {
    width: 100%;
    height: 45px;
    border: none;
    padding-left: 20%;
    border-top-right-radius: 3px;
    background: #73956e;
    color: white;
    font-size: 51px;
    cursor: pointer;
    line-height: 1;
    outline: none;
    transition: all 0.7s ease;
    transform-origin: center;
}

.plus:focus {
    outline: none;
}

.plus:hover {
    background: #95d7ae;
    transition: all 0.3s ease;
    transform-origin: center;
}

.plus-char {
    height: 108%;
    width: 86%;
}

@keyframes spinX {
    from {
        transform-origin: center;
        transform: rotate(0deg);
        color: white;
        text-shadow: none;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: none;
    }
    to {
        transform-origin: center;
        transform: rotate(134deg);
        color: red;
        text-shadow: 0px 0px 20px white;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: none;
    }
}

@keyframes spinBackX {
    0% {
        transform-origin: center;
        transform: rotate(134deg);
        color: red;
        text-shadow: 0px 0px 20px white;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: none;
    }
    100% {
        transform-origin: center;
        transform: rotate(0deg);
        color: white;
        text-shadow: none;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: none;
    }
}

.show-x {
    transform-origin: center;
    animation: spinX 0.5s ease-out forwards;
}

.remove-x {
    transform-origin: center;
    animation: spinBackX 0.7s ease-in forwards;
}

@keyframes spinDefault {
    from {
        transform-origin: center;
        transform: rotate(0deg);
        color: white !important;
    }
    to {
        transform-origin: center;
        transform: rotate(180deg);
        color: white !important;
    }
}

@keyframes spinDefaultBack {
    0% {
        transform-origin: center;
        transform: rotate(180deg);
        color: white !important;
    }
    100% {
        transform-origin: center;
        transform: rotate(0deg);
        color: white !important;
    }
}

.spinDefault {
    transform-origin: center;
    animation: spinDefault 0.5s ease-out forwards;
    color: white !important;
}

.spinDefaultBack {
    transform-origin: center;
    animation: spinDefaultBack 0.7s ease-in forwards;
    color: white !important;
}

@keyframes fadeBubbleIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeBubbleOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fadeBubbleIn {
    animation: fadeBubbleIn 0.3s ease-out forwards;
}

.fadeBubbleOut {
    animation: fadeBubbleOut 0.3s ease-in forwards;
}

.bubble-default {
    padding-top: 3px !important;
    padding-left: 22px !important;
}

.bubble-delete {
    opacity: 0;
    position: absolute;
    right: 51%;
    padding-top: 25px;
    padding-left: 8px;
    font-size: .9vw;
    font-weight: 600;
    width: 88px;
    width: 88px;
    height: 75px;
    border-radius: 100px;
    background: white;
    color: #454751;
}

.bubble-delete::before {
    content: '';
    position: absolute;
    left: -42px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: white;
}

.bubble-delete::after {
    content: '';
    position: absolute;
    left: -25px;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background: white;
}

input {
    width: 100%;
    border: none;
    border-top-left-radius: 3px;
    border-bottom: 2px dashed #73956e;
    border-left: 3px solid #72956e;
    border-top: 3px solid #73956e;
    height: 45px;
    overflow: hidden;
    padding-left: 18px;
    font-size: 22px;
    outline: none;
}

input:focus {
    border-bottom: 3px dashed #72956e;
}

input::-moz-placeholder {
    color: #95d7ae7a;
}

input::-webkit-input-placeholder {
    color: #95d7ae7a;
    font-style: italic;
}

.list {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list::-webkit-scrollbar {
    width: 5px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #ceecd9;
    width: 5px;
    max-height: 20px;
    border-radius: 25px;
}

ul {
    font-size: 18px;
    margin-top: 40px;
    color: #454751;
    padding-left: 10px;
    width: 100%;
}

li {
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 10px;
    width: 92%;
    background: #95d7ae7a !important;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

@keyframes hideDot {
    from {
        transform: scale(1);
        background: white;
    }
    to {
        transform: scale(0);
        background: #454751;
    }
}

@keyframes showDot {
    0% {
        transform: scale(0);
        background: #454751;
    }
    100% {
        transform: scale(1);
        background: white;
    }
}

@keyframes showX {
    from {
        transform: scale(1) rotate(0deg);
        color: white;
    }
    to {
        transform: scale(3) rotate(-225deg);
        color: #454751;
    }
}

@keyframes hideX {
    0% {
        transform-origin: center;
        transform: scale(2.5) rotate(-225deg);
        color: #454751;
    }
    50% {
        color: white;
    }
    100% {
        transform-origin: center;
        transform: scale(1) rotate(0deg);
        color: white;
    }
}

li:hover {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 19%;
    transition: all 0.2s;
}

li:hover .dot {
    animation: hideDot 0.5s ease forwards;
}

li:hover .x::after {
    transform-origin: center;
    animation: showX 0.4s forwards;
}

.dot {
    animation: showDot 0.4s ease forwards;
    width: 10px;
    height: 10px;
    margin-top: 13px;
    margin-left: -5px;
    border-radius: 50px;
    background: white;
}

.x::after {
    font-weight: normal !important;
    animation: hideX 0.8s ease forwards;
    content: '+';
    position: absolute;
    top: 12.8%;
    right: -5.8%;
    font-size: 15px;
    font-size: 0.8vw;
    color: white;
    transform-origin: center;
}

.x {
    font-weight: bold;
    font-size: 22px;
    font-size: 1.3vw;
}
