@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Poiret+One|Pompiere');

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #95D7AE !important;
    color: #454851;
    overflow: hidden;
    font-family: 'Poiret One',
    cursive !important;
}
