@keyframes cloudBob {
    0% {
        transform: translate(0px, 0px);
        opacity: .75;
    }
    25% {
        transform: translate(15px, 3px);
        opacity: 1;
    }
    50% {
        transform: translate(0px, -3px);
        opacity: .75;
    }
    75% {
        transform: translate(-15px, 3px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: .75;
    }
}

@keyframes cloudBob2 {
    0% {
        transform: translate(0px, 0px);
        opacity: .75;
    }
    25% {
        transform: translate(-15px, -5px);
        opacity: 1;
    }
    50% {
        transform: translate(0px, 5px);
        opacity: .75;
    }
    75% {
        transform: translate(15px, -5px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: .75;
    }
}

@keyframes cloudBob3 {
    0% {
        transform: translate(0px, 0px);
        opacity: .5;
    }
    45% {
        transform: translate(15px, 0px);
        opacity: .75;
    }
    60% {
        transform: translate(0px, -5px);
        opacity: 1;
    }
    80% {
        transform: translate(-15px, 0px);
        opacity: .75;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: .5;
    }
}



.cloud-1 {
    animation: cloudBob 10s ease infinite;
    position: absolute;
    z-index: -1;
    right: 16%;
    top: 30%;
}

.cloud-2 {
    animation: cloudBob3 12s infinite;
    position: absolute;
    z-index: -1;
    right: 45%;
    top: 42%;
}

.cloud-3 {
    animation: cloudBob2 10s ease-out infinite;
    position: absolute;
    z-index: -1;
    right: 58%;
    top: 24%;
}

.left {
    position: absolute;
    left: -47px;
    top: 0;
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.middle {
    position: absolute;
    left: 0;
    top: -18px;
    background: white;
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.right {
    position: absolute;
    right: -138px;
    top: 0;
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.home-container {
    margin-left: 138px;
}

.title {
    color: #ffd9fa;
    font-size: 45px;
    position: absolute;
    top: 33%;
    letter-spacing: 82px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: -1%;
}
